@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./bg1.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  background-blend-mode: multiply;
  transition: 0.3s;
  transition-delay: 0s;
  min-height: 100vh;
}
* {
  transition-timing-function: cubic-bezier(0.69, -0.07, 0.17, 1.35) !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
canvas {
  position: absolute;
}
label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: inline-block;
}
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
/* footer > img {
  height: 25px;
  width: 260px;
} */
.grid-img-wrapper {
  margin-top: 4rem !important;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
  width: 400px;
  max-width: 100%;
  margin: auto;
  margin-top: 1rem;
  height: 400px;
  position: relative;
  background-image: url("./logo.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition-delay: 2s;
  transition: 0.5s;
  /* border-radius: 4px; */
  overflow: hidden;
}
.grid-img-wrapper > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://cdn4.vectorstock.com/i/1000x1000/25/73/letter-r-logo-design-r-logo-design-vector-28112573.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.grid-img-wrapper > div {
  transform-origin: top left;
  width: 100%;
  aspect-ratio: 3/2;
  position: relative;
  z-index: 2;
  mix-blend-mode: multiply;
  box-sizing: content-box;
  overflow: hidden;
  background-color: white;
  transition: 0.3s;
  opacity: 0.2;
  height: 100%;
  background-image: url("./logo.jpeg");

  /* border-radius: 50%; */
}
.grid-img-wrapper h3,
.grid-img-wrapper > div > div {
  padding: 0.5rem;
}
.grid-img-wrapper > div > div {
  min-height: 70px;
  max-height: 130px;
  overflow: auto;
}
.grid-img-wrapper img {
  width: 100%;
  aspect-ratio: 3/2;
  z-index: 2;
  object-fit: cover;
  height: 100%;
  transform: rotateY(180deg);
}

.card-overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  z-index: 998;
}

@media only screen and (max-width: 600px) {
  .form .pri {
    margin-top: 2rem !important;
  }
  .form .pri img {
    height: auto !important;
  }
  button {
    min-width: 100% !important;
  }
  .grid-img-wrapper {
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    /* width: 100%; */
    margin: auto;
    height: 278px;
  }
  html body .card main {
    width: 100%;
    padding: 0.5rem;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    border-radius: 0;
    min-height: 100vh;
    flex-direction: column;
  }
  html body .card {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0.5rem;
  }
  .card > .card-header {
    z-index: 9999;
    top: 0;
  }
  .card.popup-card {
    transform: scale(0.7);
    left: 0% !important;
    transform-origin: center center;
    /* top: 0% !important; */
    overflow: visible;
  }
  .card.popup-card .card-header {
    top: -45px !important;
  }
  .card main img {
    width: 100% !important;
    height: 100% !important;
  }
  .grid-img-wrapper + div {
    margin-top: 8rem;
  }
  .card-main > div:nth-child(2) {
    margin-left: 0rem !important;
    margin-top: 1rem;
  }
  /* video {
    height: 80vw !important;
    width: 80vw !important;
    margin: auto;
    display: block;
  } */
}
